<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title,body)">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title th:next="${title}">PFSite</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header>
		<div id="header" th:replace="~{layout/header :: header}"></div>
	</header>
	<main>
		<div id="body" th:replace="~{body}"></div>
	</main>
	<footer>
		<div id="footer" th:replace="~{layout/footer :: footer}"></div>
	</footer>
</body>
</html>